

body
{
	background-color:#ffffff;
	font-family:"Helveltica",verdana;
}

#contenido
{
	width: 1270px;
	margin: 0 auto;
	background-color: #328541;
	border-radius: 20px;
	padding: 30px;
	text-align: center;
	box-shadow: 0px 0px 20px rgba(0,0,0,1);
}


#menu 
{
	margin:auto;
	width: 1250px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0,0,0,1);
	background-color: #324C85;
	padding: 10px;
}
			
ul, ol 
{
	list-style:none;
	display: inline-block;
	margin: 0;
	padding: 0;
}
			
#navegador > li 
{
	float:left;
	width: 250px;
	text-align: center;
}
			
#navegador li a 
{
	background-color: #324C85;
	color: #ffffff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}
	
#navegador li a:hover 
{
	background-color: #FCBC04;
	border-radius: 9px;
	-moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
    transition:0.5s;
}
			
#navegador li ul 
{
	display:none;
	position:absolute;
	min-width:250px;
}
			
#navegador li:hover > ul 
{
	display:block;
	border-radius: 9px;
	color: #FCBC04;
	width: 188px;
	-moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
    transition:0.5s;
}

h1
{
	color: #ffffff;
	box-shadow: 0px 0px 20px rgba(0,0,0,1);
	padding: 10px;
	border-radius: 10px;
	background-color: #324C85;
	text-align:: center;
}

h2
{
	color: #ffffff;
	box-shadow: 0px 0px 20px rgba(0,0,0,1);
	padding: 10px;
	border-radius: 10px;
	background-color: #324C85;
	text-align:: center;
}


#textoprincipal
{
	width: 1230px;
	height:900px;
	background-color: #324C85;
	color: #ffffff;
	margin: 0 auto;
	text-align:: left;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	margin-top: 20px;
}

#caja1
{
	float: left;
	width: 600px;
	text-align:: right;
	float: left;
}

#caja2
{
	float: left;
	width: 550px;
	height: 400px;
	float: right;
	padding-top: 20px;
}
article
{
	text-align: left;
}
a
{
	color: #DC8D0C;
	font-weight: bold;
}
footer
{
	width: 1240px;
	text-align: center;
	background-color: #324C85;
	border-radius: 10px;
	padding: 15px;
	margin-top: 10px;
	color: white;
	height: 90px;
}
footer img
{
	float: left;
	width: 7%;
}

iframe
{
	border-radius: 10px;
}

